{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block main %}
<h1>Question n°<span>{{ question._rank }}</span></h1>
<p class="lead">{{ question.description }}</p>
{% endblock %}
