<h1>{{ quiz.title }}</h1>
<p class="card-text"><small class="text-muted">Quiz créé par <a href="{{ path('player_single', {id: quiz.author.id}) }}">{{ quiz.author.name }}</a></small></p>
<p>{{ quiz.description }}</p>
