{% extends 'base.html.twig' %}

{% block title %}Jouer à nos quiz{% endblock %}

{% block main %}
<ul>

    {% for quiz in quizzes %}
        <li>
            <div class="card">
                <h5 class="card-header">{{ quiz.title }}</h5>
                <div class="card-body">
                    <p class="card-text">{{ quiz.description }}</p>
                    <a href="/quiz/{{ quiz.id }}" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </li>
    {% endfor %}
    
</ul>
{% endblock %}
