{% extends 'base.html.twig' %}

{% block title %}Jouer à nos quiz{% endblock %}

{% block main %}
<ul class="list-unstyled">

    {% for quiz in quizzes %}
        <li>
            {% include 'quiz/preview.html.twig' %}
        </li>
    {% endfor %}
    
</ul>
{% endblock %}
