{% extends 'base.html.twig' %}

{% block title %}Quiz - {{ quiz.title }}{% endblock %}

{% block main %}
    {% include 'quiz/details.html.twig' %}
    <a href="/question/{{ first_question.id }}" class="btn btn-primary">Jouer</a>
{% endblock %}
